#bar{
    overflow: hidden;
    background-color: darkgreen;
    color: white;
    position: relative;
}

#menuItems {
    display: none;
    background-color: green;
}

#title {
    height: 4rem;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

mat-icon {
    width: 2rem;
    height: 2rem;
    float: left;
    padding: 1rem 1rem;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    padding: 1rem 1rem;
    display: block;
}